/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html {background-color: rgb(231, 218, 210);}

div {box-sizing:border-box;
    width: 800px;
    margin: 0 1200px 0 220px;
    background: rgb(236,232,157); 
    background: -moz-linear-gradient(top, rgb(231, 218, 210) 0%, rgb(150, 203, 223) 50%, rgb(191, 209, 233) 100%); 
    background: -webkit-linear-gradient(top, rgb(231, 218, 210) 0%,rgb(150, 203, 223) 50%,rgba(191, 209, 233) 100%); 
    background: linear-gradient(to bottom, rgb(231, 218, 210) 0%,rgb(150, 203, 223) 50%,rgba(191, 209, 233) 100%);}

.ava {width: 300px;
        margin: 10px 0px 0px 50px;}

h1 {font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    margin-left: 420px;
    margin-top: -80px;}

    nav {font-family: Brush Script MT, Brush Script Std, cursive;}  
    
.one {margin: -227px 0px 0px 440px;
    width: max-content;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;}
    
.one:hover {text-decoration: underline;}
    
.two { margin: -19px 0px 0px 600px;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-weight: 700;}
    
.two:hover {text-decoration: underline;}   

#Personal {font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
    margin-top: 270px;
    margin-left: 30%;
    color:purple;}

#Myexperience {font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 35%;
    color:purple;}

h2, h3 {font-family: Brush Script MT, Brush Script Std, cursive;
    margin-top: 5px;
    font-size: 30px;
    color:darkblue;}

.cont {margin-left: 35px;}

.contacts {font-size: 20px;
    font-style: italic;
    line-height: 25px;
    margin-top: 5px;
    margin-left: 35px;}

.mail {text-decoration: underline;
    font-style: italic;}

.aboutme {margin-left: 100px;}

article { margin-left: 220px;
    width: 450px;
    line-height: 25px;
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;}

.mystr {margin-left: 520px;}

.mstr {margin-left: 520px;
    font-size: 20px;
    font-style: italic;
    line-height: 25px;
    margin-top: 5px;}

.skil {margin-left: 35px;}

ul {list-style-type: upper-roman;
    list-style-position: inside; }

.skills {font-size: 20px;
    line-height: 25px;
    font-style: italic;
    list-style-type: disc;
    margin-top: 5px;
    margin-left: 35px;}

.code {margin-left: 290px;
    margin-top: 15px;}

.imgcode {margin-left: 220px;
    width: 290px;}

.exp {margin-left: 60px;
    margin-top: 15px;}

.artexp {margin-left: 520px;
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    width: 250px;}

.education {margin-left: 250px;}

.edu {font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    margin-left: 220px;
    width: 450px;}

.wtf {margin-left: 15px;}

.engl {margin-left: 40px;}   

.eng {font-size: 20px;
     font-style: italic;
     margin-top: 5px;
     margin-bottom: 20px;
     margin-left: 35px;}

.git {width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 35px;}

.time {margin-top: -70px;
    margin-left: 350px;
    font-size: 40px;
    font-style: bold;
    margin-bottom: 20px;
    font-family: Bradley Hand, cursive;}

.logo {width: 140px;
    height: 80px;
    margin-top: -85px;
    margin-left: 670px;
    margin-bottom: 20px;
    padding-right: 45px;}


